@use '../../../../styles/partials' as *;

.container {
  background-color: $color-white;
  padding-top: $spacing-md;
  padding-left: $spacing-vertical-gutter;
  padding-right: $spacing-vertical-gutter;
  padding-bottom: $spacing-sm;
  color: $color-black-text;
}

.avatars {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.avatar_container {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.avatar_inner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 182px;
  width: 182px;
}

.avatar_container:nth-last-child(1):nth-child(odd) {
  grid-column: 2 / span 2;
}
