@use '../../../styles/partials';

.outer_container {
  display: flex;
  justify-content: center;
  width: 100%;
  $footerheight: 220px;
  min-height: calc(100vh - partials.$navigation-height - $footerheight);
  margin-top: partials.$navigation-height;
  min-width: partials.$page-width-min;
  z-index: 0;
  position: relative;
}

.inner_container {
  width: 100%;
  max-width: partials.$page-width-max;
  min-width: partials.$page-width-min;
}
