@use '../../../styles/partials' as *;

.readonly_input {
  @extend .b1;
  border: none;
  margin-bottom: $spacing-sm;

  &:focus {
    outline: none;
  }
}

.zip_code {
  margin-bottom: 10px;
}

.modal_button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_button {
  @extend .btn_inverted;
  @extend .btn_sm;
  margin-top: 24px;
}

.eighteen_plus_checkbox_messages {
  min-height: $font-size-xxs + 5px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.is_citizen_checkbox_messages {
  min-height: $font-size-xxs + 5px;
  margin-bottom: $spacing-md;
  margin-top: 4px;
}
