@use '../../../styles/partials' as *;

.select {
  width: 100% !important;
}

.other_party {
  margin-top: 10px;
}

.race {
  @extend .select;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

.mb_16 {
  margin-bottom: 16px;
}
