@use '../../../styles/partials' as *;

.other_party {
  margin-top: 10px;
}

.checkbox {
  margin-top: 16px;
  margin-bottom: $spacing-md;
}

.select {
  width: 100% !important;
}

.race {
  @extend .select;
  margin-bottom: 10px;
}

.id_explainer {
  margin-bottom: $spacing-md;
}
