$caret-width-with-margin: 24px;
$menu-padding: 7px;
$option-padding: 11px;
$border-width: 3px;
$more-info-width: 19.5px;
$more-info-margin: 20px;
$more-info-width-with-margin: $more-info-width + $more-info-margin;
