@use '../../../styles/partials' as *;
@use './variables' as *;

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.combobox_container {
  position: relative;
  display: flex;
  width: 100%;
}

.messages_container {
  height: $font-size-xxs + 5px;
}

.warning_icon {
  width: 16.55px;
  height: 14px;
  margin-top: 4px;
}

.open_more_info {
  margin-left: $more-info-margin;
}
