@use '../../styles/partials' as *;

.white_curve {
  display: block;
  width: 100%;
  height: 31px;
  background-color: $color-black-8by8;
  background-image: url('/static/images/pages/actions/white-curve.png');
  background-size: 100% 31px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.actions_section {
  padding-top: $spacing-lg;
  padding-left: $spacing-vertical-gutter;
  padding-right: $spacing-vertical-gutter;
}
